@{
	ViewData["Title"] = $"{Model.CategoryName}";
	Layout = "~/Views/Shared/_Layout.cshtml";
	bool isUserLoggedIn = User.Identity.IsAuthenticated;
}

@model CategoryViewModel


<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>@Model.CategoryName Kategorisindeki Kitaplar</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		@if (!Model.Books.Any())
		{
			<div class="col-md-12 text-center" style="position:page; width: 575px; height: 100%;">
				<img src="~/bookshop/img/empty-category.jpg" alt="Empty Category" style="width: 800px; height: 100%; margin-top: 20px;">
				<h3 style="position: absolute; text-align:center; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #000; text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8); ">
					Bu kategoride henüz kitap yok.
				</h3>
			</div>


		}
		else
		{
			@foreach (var book in Model.Books)
			{

				<div class="col-md-2 col-sm-4">
					<div class="shop-item">
						<div class="shop-item-image">
							<a href="#">
								<img src="~/images/@book.ImageName" alt="@book.BookName" style="width: 100%; height:200px; object-fit: cover;">
							</a>
						</div>

						<div class="title">
							<h3><a href="#">@book.BookName</a></h3>
							<h4>@book.AuthorName @book.AuthorSurname</h4>
						</div>

						<div class="price">
							@book.Price TL
						</div>



						<div class="actions">
							@if (isUserLoggedIn)
							{
								<form asp-action="AddToCart" asp-controller="Book" method="post">
									<input type="hidden" name="id" value="@book.Id" />
									<button type="submit" class="btn btn-small">Sepete Ekle</button>
								</form>
							}
							else
							{
								<button onclick="showLoginAlert()" class="btn btn-small">Sepete Ekle</button>
							}
						</div>


					</div>
				</div>
			}
		}
	</div>
</div>

@if (Model.Books.Any())
{
	<!-- Pagination Başlangıcı -->
	<div class="pagination-wrapper">
		<ul class="pagination pagination-lg">
			@for (var i = 1; i <= Model.TotalPages; i++)
			{
				<li class="@(i == Model.CurrentPage ? "active" : "")"><a href="?page=@i">@i</a></li>
			}
		</ul>
	</div>
	<!-- Pagination Sonu -->
}




<script>
	function showLoginAlert() {
		alert("Sipariş vermek için önce giriş yapmalısınız.");
	}
</script>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
<script src="~/bookshop/js/jquery.fitvids.js"></script>
<script src="~/bookshop/js/jquery.sequence-min.js"></script>
<script src="~/bookshop/js/jquery.bxslider.js"></script>
<script src="~/bookshop/js/main-menu.js"></script>
<script src="~/bookshop/js/template.js"></script>
