@{
	ViewData["Title"] = $"{Model.CategoryName}";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@model CategoryViewModel

<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>mPurpose - Multipurpose Feature Rich Bootstrap Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="~/bookshop/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/bookshop/css/icomoon-social.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="~/bookshop/css/leaflet.css" />
	<link rel="stylesheet" href="~/bookshop/css/main.css">
</head>
<body>
	<div class="section section-breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>@Model.CategoryName Kategorisindeki Kitaplar</h1>
				</div>
			</div>
		</div>
	</div>


	<div class="container">
		<div class="row">


			@foreach (var book in Model.Books)
			{
				<div class="col-md-3 col-sm-6">

					<div class="shop-item">

						<div class="shop-item-image">
							<a href="page-product-details.html">
								<img src="~/images/@book.ImageName" alt="@book.BookName" style="width: 100%; height:300px; object-fit: cover;">
							</a>
						</div>

						<div class="title">
							<h3><a href="page-product-details.html">@book.BookName</a></h3>
							<h4 style="text-align:center">@book.AuthorName @book.AuthorSurname</h4>
						</div>

						<div class="price">
							@book.Price TL
						</div>

						<div class="actions">
							<a href="page-product-details.html" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Sepete Ekle</a>
						</div>
					</div>

				</div>



			}

		</div>

	</div>


	<!-- Pagination Başlangıcı -->
	<div class="pagination-wrapper">
		<ul class="pagination pagination-lg">
			@for (var i = 1; i <= Model.TotalPages; i++)
			{
				<li class="@(i == Model.CurrentPage ? "active" : "")"><a href="?page=@i">@i</a></li>
			}
		</ul>
	</div>
	<!-- Pagination Sonu -->



	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
	<script src="~/bookshop/js/jquery.fitvids.js"></script>
	<script src="~/bookshop/js/jquery.sequence-min.js"></script>
	<script src="~/bookshop/js/jquery.bxslider.js"></script>
	<script src="~/bookshop/js/main-menu.js"></script>
	<script src="~/bookshop/js/template.js"></script>
</body>
</html>




