@model List<BookViewModel>

<a class="btn btn-primary" style="margin-top:15px; margin-left:12px;" asp-action="Create" asp-controller="Book">Yeni Kitap Ekle</a>

<table class="table table-striped table-hover" style="margin-top:15px; margin-left:12px;">
	<tr>
		<td>#</td>
		<td><strong>Kitap Adı</strong></td>
		<td><strong>Yazar Adı</strong></td>
		<td><strong>Yazar Soyadı</strong></td>
		<td><strong>Yayın Tarihi</strong></td>
		<td><strong>Fiyatı</strong></td>
		<td><strong>Stoğu</strong></td>
		<td><strong>Resim</strong></td>
		<td><strong>Kategori</strong></td>
		<td><strong>İşlem</strong></td>


	</tr>
	@{
		foreach (BookViewModel item in Model)
		{
			<tr>
				<td>@item.RowNum</td>
				<td>@item.BookName</td>
				<td>@item.AuthorName</td>
				<td>@item.AuthorSurname</td>
				<td>@item.PublishDate</td>
				<td>@item.Price</td>
				<td>@item.StockQuantity</td>
				<td> <img height="30px" width="30px" src="~/images/@item.ImageName" alt="Resim Yok" /> </td>
				<td>@item.Category.CategoryName</td>
												
				<td>
					<a class="btn btn-info"  asp-controller="Book" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
					<a class="btn btn-danger"  asp-controller="Book" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
				</td>

			</tr>
		}
	}
	

</table>