@{
	ViewData["Title"] = "Ana Sayfa";
	Layout = "~/Views/Shared/_Layout.cshtml";
	bool isUserLoggedIn = User.Identity.IsAuthenticated;
}



@model List<BookViewModel>

@if (TempData["SuccessMessage"] is not null)
{
	<div class="alert alert-success" role="alert" style="text-align: center;">
		@TempData["SuccessMessage"]
	</div>
}

<div class="homepage-slider">
	<div id="sequence">
		<ul class="sequence-canvas">
			<li class="bg4">
				<h1 class="title">Geniş Kitap Yelpazesi</h1>
				<h2 class="subtitle">Binlerce kitap ile her zevke uygun seçenekler</h2>
				<img class="slide-img" src="~/bookshop/img/homepage-slider/slide1.png" alt="Slide 1" />
			</li>
			<li class="bg3">
				<h1 class="title">Özel İndirimler</h1>
				<h2 class="subtitle">Yıl boyu süren kampanyalar ve fırsatlar</h2>
				<img class="slide-img" src="~/bookshop/img/homepage-slider/slide2.png" alt="Slide 2" />
			</li>
			<li class="bg1">
				<h1 class="title">Hızlı ve Güvenli Teslimat</h1>
				<h2 class="subtitle">Siparişlerinizi en kısa sürede kapınıza getiriyoruz</h2>
				<img class="slide-img" src="~/bookshop/img/homepage-slider/slide3.png" alt="Slide 3" />
			</li>
		</ul>
		<div class="sequence-pagination-wrapper">
			<ul class="sequence-pagination">
				<li>1</li>
				<li>2</li>
				<li>3</li>
			</ul>
		</div>
	</div>
</div>

<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>En Çok Satanlar</h1>
			</div>
		</div>
	</div>
</div>

<div class="eshop-section section">
	<div class="container">
		<div class="row">
			@foreach (BookViewModel book in Model)
			{
				
				<div class="col-md-2 col-sm-4">
					<div class="shop-item">
						<div class="shop-item-image">
							<a href="#">
								<img src="~/images/@book.ImageName" alt="@book.BookName" style="width: 100%; height:200px; object-fit: cover;">
							</a>
						</div>

						<div class="title">
							<h3><a href="#">@book.BookName</a></h3>
							<h4>@book.AuthorName @book.AuthorSurname</h4>
						</div>

						<div class="price">
							@book.Price TL
						</div>

						<div class="actions">
							@if (isUserLoggedIn)
							{
								<form asp-action="AddToCart" asp-controller="Book" method="post">
									<input type="hidden" name="id" value="@book.Id" />
									<button type="submit" class="btn btn-small">Sepete Ekle</button>
								</form>
							}
							else
							{
								<button onclick="showLoginAlert()" class="btn btn-small">Sepete Ekle</button>
							}
						</div>

					</div>
				</div>



			}
		</div>
	</div>
</div>

<script>
	function showLoginAlert() {
		alert("Sipariş vermek için önce giriş yapmalısınız.");
	}
</script>





