@model IQueryable<BookViewModel>

<a class="btn btn-primary" asp-action="Create" asp-controller="Book">Yeni Kitap Ekle</a>

<table class="table table-striped table-hover">
	<tr>
		<td>#</td>
		<td>Kitap Adı</td>
		<td>Yazar Adı</td>
		<td>Yazar Soyadı</td>
		<td>Yayın Tarihi</td>
		<td>Fiyatı</td>
		<td>Stoğu</td>
		<td>Resim</td>
		<td>Kategori</td>


	</tr>
	@{
		foreach (var item in Model)
		{
			<tr>
				<td>@item.RowNum</td>
				<td>@item.BookName</td>
				<td>@item.AuthorName</td>
				<td>@item.AuthorSurname</td>
				<td>@item.PublishDate</td>
				<td>@item.Price</td>
				<td>@item.StockQuantity</td>
				<td> <img height="60px" width="60px" src="~/images/@item.ImageName" alt="Resim Yok" /> </td>
				<td>@item.Category</td>
				
				<td>
					<a class="btn btn-info" asp-controller="Book" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
					<a class="btn btn-danger" asp-controller="Book" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
				</td>

			</tr>
		}
	}
	

</table>