@model BS.Entities.Concrete.AppUser




<h3>Bu kullanıcıyı silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>Kullanıcı Bilgileri</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Kullanıcı ID:</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Ad:</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Soyad:</dt>
        <dd class="col-sm-10">@Model.Surname</dd>

        <dt class="col-sm-2">E-posta:</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Adres:</dt>
        <dd class="col-sm-10">@Model.Adress</dd>

        <dt class="col-sm-2">Cinsiyet:</dt>
        <dd class="col-sm-10">@Model.Gender</dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">İptal</a>
    </form>
</div>
