
@model List<CategoryViewModel>

<a class="btn btn-primary" style="margin-top:15px; margin-left:12px;" asp-action="Create" asp-controller="Category">Yeni Kategori Ekle</a>


<table class="table table-striped table-hover" style="margin-top:15px; margin-left:12px;">
    <tr>
        <td>#</td>
        <td><strong>Kategori Adı</strong></td>
        <td><strong>Kitap Sayısı</strong></td>
        <td><strong>İşlem</strong></td>
        
    </tr>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td>@item.RowNum</td>
                <td>@item.CategoryName</td>
                <td>@item.Books.Count()</td>
                <td>
                    <a class="btn btn-info" asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                    <a class="btn btn-danger delete-button" data-book-count="@item.Books.Count()" data-url="@Url.Action("Delete", "Category", new { id = item.Id })">Sil</a>
                </td>
            </tr>
        }
    }
</table>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var deleteButtons = document.querySelectorAll(".delete-button");

            deleteButtons.forEach(function (button) {
                button.addEventListener("click", function (event) {
                    var bookCount = parseInt(button.getAttribute("data-book-count"));
                    var deleteUrl = button.getAttribute("data-url");

                    if (bookCount > 0) {
                        event.preventDefault();
                        alert("Bu kategoride kitap bulunmaktadır. Kategoriyi silemezsiniz.");
                    } else {
                        window.location.href = deleteUrl;
                    }
                });
            });
        });
    </script>
}
